{% extends 'base.html'  %}
{% block content %}
<div class="container">
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3 row">
            <div class="col-1"></div>
            <label for="id_text" class="col-xxl-3 col-xl-4 col-md-12 col-form-label" style="margin-top:20px;">Nazwa ankiety</label>
            {{form.text}}
        </div>
        <div class="mb-3 row">
            <div class="col-1"></div>
            <label for="id_password" class="col-xxl-3 col-xl-4 col-md-12 col-form-label" style="margin-top:20px;">Hasło (nieobowiązkowe)</label>
            {{form.password}}
        </div>
        <div class="mb-3 row">
            <div class="col-xl-1 col-lg-12"></div>
            <div class="col-6">
                <div class="form-check">
                    {{form.publicResults}}
                    <label class="form-check-label" for="id_publicResults">Publiczne wyniki</label>
                </div>
            </div>
            <div class="col-4">
                {% block button %}
                <button type="submit" class="btn btn-primary ">Dodaj ankiete</button>
                {% endblock %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
