{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="post" action="">
        <div class="row" style="margin-top:20px;">
            {% csrf_token %}
            {{form.text}}
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid #000; margin-bottom: 10px;" >
            <div class="col-6">
                {{form.multiple_choice}}
                <label class="form-check-label" for="id_multiple_choice">Wybór wielokrotny</label>
            </div>
        </div>
    </form>
</div>
{% endblock %}