{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <div style="width: 45%; margin: auto;">
                <a href="{% url 'createNewQuestionnaire' %} " class="homelink">
                    <div class="homediv"><h1>Dodaj nową ankiete</h1></div>
                </a>
            </div>
        </div>
    </div>
        <div class="row">
            <div style="width: 45%; margin: auto;">
                <div class="col text-center" >
                    <a href="{% url 'profile' %}" class="homelink">
                        <div class="homediv"><h1>Profil</h1></div>
                    </a>
                </div>
            </div>
        </div>
</div>
{% endblock %}