{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row bg-dark" style="color: white; padding:10px; margin-top:15px;">
        <div class="col-xl-2 col-12">
            <a href="{% url 'myQuestionnaires' %}" class="nav-link" style="color:white;">Moje ankiety</a>
        </div>
        <div class="col-xl-3 col-12">
            <a href="{% url 'questionnaireDone' %}" class="nav-link" style="color:white;">Wypełnione ankiety</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-4">
            <a href="{% url 'notPublicQuestionnaire' %}" class="nav-link" style="color:white;">Kopie robocze</a>
        </div>
        <div class="col-1 d-none d-xxl-block"></div>
        <div class="col-xl-1 col-lg-5 col-md-3 col-2 text-end">
            <form method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit" >Wyloguj</button>
            </form>
        </div>
        <div class="col-xxl-3 col-md-4 col-6 text-end">
            <a href="{% url 'createNewQuestionnaire' %}" class="btn btn-success">Dodaj nową ankiete</a>
        </div>
    </div>
    {% block data %}
    {% endblock %}
</div>
{% endblock %}
{% block title %}
        <title>Profil</title>
{% endblock %}