{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="post" action="{% url 'questionnaireProfile' id %}">
        {% csrf_token %}
        <div class="row" style="margin-top: 40px;">
            <label class="col-lg-4 col-2 col-form-label text-end" style="margin-top:20px;"  for="id_password">Hasło:</label>
            <input type="password" name="password" id="id_password" class="col-lg-4 col-8 col-form-label" style="margin-top:20px;" required>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-8 text-end">
                <button type="submit" class="btn btn-primary" name="access">Zatwierdz</button>
            </div>
        </div>
        <div class="row">

            <div class="col-12 text-center">
                <p class="logerr">{{message}}</p>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block title %}
        <title>Sprawdzanie dostępu</title>
{% endblock %}