{% extends 'base.html' %}
{% load main_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>{{questionnaire.text}}</h2>
        </div>
    </div>
    {% for question in questionnaire.questions.all %}
    <div class="row" style="border-bottom: 1px solid #000; margin-bottom: 10px;" >
        <div class="col-10 text-truncate">
            <p class="TextCreateNew">{{forloop.counter}}. {{question.text}}</p>
        </div>
        <div class="col-1 text-end">
            <form method="post" action="{% url 'deleteQuestion' question.id questionnaire.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">-</button>
            </form>
        </div>
        <div class="col-1">
            <form method="post" action="{% url 'editQuestion' question.id questionnaire.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" name="edit">...</button>
            </form>
        </div>
    </div>
    {% for answer in question.answers.all %}
    <div class="row" style="margin-bottom:10px;">
        <div class="col-8 text-truncate" style="font-size:18px;font-weight:400;">
           {{forloop.counter|to_char}}) {{answer.text}}
        </div>
        <div class="col-2"></div>
        <div class="col-1 text-end" style="margin-left:-60px;">
            <form method="post" action="{% url 'deleteAnswer' answer.id questionnaire.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">-</button>
            </form>
        </div>
        <div class="col-1">
            <form method="post" action="{% url 'editAnswer' answer.id questionnaire.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" name="edit">...</button>
            </form>
        </div>
    </div>
    {% endfor %}
    <form method="post" action="{% url 'addAnswer' question.id questionnaire.id  %}">
        <div class="row" style="margin-bottom: 10px;">
            {% csrf_token %}
            {{answerForm.text}}
            <div class="col-2">
                <button type="submit" name="addAnswer" class="btn btn-secondary">+</button>
            </div>
        </div>
    </form>
    {% endfor %}

    <form method="post" action="">
        <div class="row">
            {% csrf_token %}
            {{questionForm.text}}
            <div class="col-2">
                 <button type="submit" name="addQuestion" class="btn btn-success">+</button>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid #000; margin-bottom: 10px;" >
            <div class="col-6">
                {{questionForm.multiple_choice}}
                <label class="form-check-label" for="id_multiple_choice">Wybór wielokrotny</label>
            </div>
        </div>
    </form>
    <div class="row">
        <form method="post" action="">
        {% csrf_token %}
             <div class="col-12">
                 <button type="submit" name="save" class="btn btn-success">Opublikuj ankiete</button>
                 <a href="{% url 'profile' %}" class="btn btn-primary">Tylko zapisz</a>
             </div>
        </form>
    </div>
</div>
{% endblock %}
{% block title %}
        <title>Tworzenie ankiety</title>
{% endblock %}