{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row" style="margin-top:100px;">
        <div class="col-12 text-center">
            <h2>Wyniki dla tej ankiety nie są publiczne.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-primary" href="{% url 'questionnaire_DataBase' %}">Powrót</a>
        </div>
    </div>
</div>

{% endblock %}
{% block title %}
        <title>Wyniki niedostępne</title>
{% endblock %}