{% extends 'base.html' %}
{% load main_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>{{questionnaire.text}}</h2>
        </div>
    </div>
    {% for question in questions %}
        <div class="row" style="border-bottom: 1px solid #000;">
            <div class="col-12"><p class="TextCreateNew">{{forloop.counter}}. {{question.text}}</p></div>
        </div>
        {% for answer in question.answers.all %}
            <div class="row">
                <div class="col-12" style="margin-left:15px;">
                    <p class="TextCreateNew2">{{forloop.counter|to_char}}) {{answer.text}}</p>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-12">
                <img class="img-fluid" src="data:image/png;base64, {{question.plot|safe}}">
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block title %}
        <title>Wyniki ankiety</title>
{% endblock %}