html,
base {
    height: 100vh;
    background-color: #D3D3D3;
}
main {
    background-color: #D3D3D3;
}
.homediv {
    height: 15vh;
    background-color: #4ba26b;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: black;
    margin-top: 20px;
}

.homediv h1 {
    margin-top:35px;
}

.homelink {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.homelink :hover{
    color:black;
    background-color:#3aa15a;
}

.logerr{
    color:red;
}

#id_username,
#id_password1,
#id_password2{
    padding:10px;
    margin-top:-10px;
}
